:root{
    --primary-color: #1F2937;
    --secondary-color: #FDE68A;
    --dark: #D1D5DB;
    --off-white: #DDD6FE;
}
 
body{
    margin: 0px;
    font-family: 'Yusei Magic', sans-serif;
    background-color: var(--off-white);
}

textarea{
    height: 16vh;
    width: 50%;
    display: block;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-family: 'Yusei Magic', sans-serif;
}

#output{
    height: 16vh;
    width: 50%;
    display: block;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-family: 'Yusei Magic', sans-serif;
    background-color:white;
}

.btn{
    color: var(--dark);
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    border: 1px solid #D1D5DB;
    font-size: 200%;
    font-family: 'Yusei Magic', sans-serif;
}

.container-center{
    text-align: center;
}

.header{
    font-size: 1.5rem;
    color: var(--dark-gray);
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    padding: 1rem;
}

.header h1{
    display: inline;
}

.content{
    font-size: 150%;}

.footer{
    background-color: var(--primary-color);
    padding: 1.7rem 0rem;
    text-align: center;
    color: black;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: 20px;
    font-weight: bold;
}